# Dependencies
node_modules/

# Environment
.env
.env.local

# Logs
logs/
*.log

# Testing
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Prisma
prisma/migrations/

/generated/prisma


planning/